@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}
@font-face {
  font-family: 'MCF';
  src: url('/fonts/montserrat-v26-latin-700.woff2') format('woff2'),
        url('/fonts/montserrat-v26-latin-regular.woff') format('woff'),
        url('/fonts/montserrat-v26-latin-600.woff') format('woff');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
body {
  background-color: #BBB8AF; /* Your global background color */
  font-family: 'MCF', sans-serif;
}